html, body, header {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    min-height: 100vh;
#ifdef HEADER_IMAGE_PATH
    background: url(HEADER_IMAGE_PATH);
#endif
    background-size: cover;
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header #header-container {
    background-color: red;
}

header #title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
}

header #subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.black {
    color: black;
}

.white {
    color: white;
}

section {
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 860px) {
    section {
        width: calc(100vw - 60px);
    }
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: rgb(10, 10, 60);
}
code {
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.kw {
    font-weight: bold;
}
