.sidebar {
    width: 150px;
    height: 100%;

    display: block;
    float: left;
}
#sidebar {
    position: fixed;
}


#title {
    padding-left:10px;
    margin-bottom:5px;
    width: 100%;
}

#content {
    width: 50%;
    min-width:500px;
    margin-left: 20px;
    display: block;
    float:left;
    min-height:50%;
    padding-top:5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.buttons {
    float:left;
    width: inherit;
    padding-top:5px;
    padding-bottom:5px;
}

.section {
}

.button {
}

.section>.inner{
    padding-left:10px;
}

.button>.inner{
    padding-left:30px;
}

