body {
    font-family: serif;
    line-height: 15px;
}

#wrapper {
    margin: 0 !important;
    border: none;
    padding: 0 !important;
}

header {
    display: none;
}

h1,
h2 {
    margin-top: 8px !important;
    border: none !important;
    margin: 2px;
    font-family: serif !important;

    margin-left: 0;
    padding: 0 !important;
}

p {
    margin: 2px;
    margin-left: 0;
    padding: 0 !important;
}

aside {
    display: none;
}

