body {

    font-family: 'Lucida Grande', Calibri, Helvetica, Arial, sans-serif;
    background: #e6e6e6;
    font-size: 16px;
    color: rgb(55,55,55);
}

#wrapper {
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background: white;
}

header {
    padding-bottom: 10px;
}

header h1 {
    color: #73a4d9;
    font-family: Oswald, Arial, sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

#header-desc {
    color: rgb(200,200,200);
}

nav {
    background: rgba(0,0,0,0.2);
    font-weight: bold;
}

hr {
    border: 0px;
    border-top: 1px dashed #ddd;
    height: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

article h1 {
    background: rgb(50,50,50);
    color: rgb(240,240,240);
    padding: 3px;
    box-shadow: 0px 3px 0px rgba(0,0,0,0.5);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    font-weight: bold;
}

td {
    border: 1px solid rgb(50,50,50);
    padding: 2px;
}

ul {
    list-style-type: none;
}

article h1,
article h2,
article h3 {
    font-family: Oswald, 'Ubuntu Condensed', sans-serif;
    font-weight: 400;
    color: rgb(70,70,70);
    border-bottom: 1px dashed rgb(150,150,150);
}

h1 {
    font-size: 25px;
}



















