{{ define "main" }}

<!--
<h1>{{ .Title }}</h1>
 -->

{{ .Content }} {{ if .Data.Pages }}
<div class="pages-list">
    {{ range .Data.Pages.ByTitle }}
    <section class="page-item">
        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        {{ if .Params.description }}
        <p class="page-description">{{ .Params.description }}</p>
        {{ else if .Summary }}
        <p class="page-description">{{ .Content }}</p>
        {{ end }}
    </section>
    {{ end }}
</div>
{{ end }} {{ end }}
