article {
    margin: 0;
    box-shadow: none;
    width: auto;
    height: auto;
    padding: 0;
    page-break-after: always;
}
body,
html,
main,
div.highlight {
    padding: 0 !important;
    margin: 0 !important;
}

* {
    color: black !important;
}

pre,
code {
    break-inside: avoid;
    page-break-inside: avoid;
}
